/*
    Componentes index.php
    mais claro #bedfeb
    #4169E4
    #4682B4
*/

html,
body {
  height: 100%;
  background-color: #95dcf8be;
}

.back-claro{
    background-color: #ffffff;
    opacity: 95%;
}

.navbar{
    background-color: #2d92e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container-corpoindex{
    margin-top: 55px;
}

.buttoncad{
    background-color: #888f96d8;
    border-color: black;
    color:black;
    border-radius: 8px;
}

.buttoncad:hover {
    background-color: rgb(44, 40, 40);
    color: white;
    border-color: rgb(44, 40, 40);
    transition: all 0.5s ease-in;
    border-radius: 8px;
}

/*
Componentes login.php
*/

#btnSubmit{
    background-color: #2d92e6;
    border-color: #bedfeb;
    color:white;
    border-radius: 18px;
}

.loginphp {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #95dcf8be;
}

.login{
    background-color: #95dcf8be;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.home{
    margin-left: 30px;
    color:black;
}

/*
Componentes login.php
*/
.cadastrophp {
    padding-top: 110px;
    padding-bottom: 90px;
}